<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pioano</title>
</head>



<body>
    <div class="row">
        <div class="col-lg-4">
            <div class="container" style="margin-top: 5rem;">
                <div class="list-group">
                    <a (click)="Sonido(1)" class="list-group-item list-group-item-action" style="text-align: center; background-color: red ;">Do</a>
                    <a (click)="Sonido(2)" class="list-group-item list-group-item-action" style="text-align: center; background-color: orange;">Re</a>
                    <a (click)="Sonido(3)" class="list-group-item list-group-item-action" style="text-align: center; background-color: yellow;">Mi</a>
                    <a (click)="Sonido(4)" class="list-group-item list-group-item-action" style="text-align: center; background-color: green;">Fa</a>
                    <a (click)="Sonido(5)" class="list-group-item list-group-item-action" style="text-align: center; background-color: teal;">Sol</a>
                    <a (click)="Sonido(6)" class="list-group-item list-group-item-action" style="text-align: center; background-color: blue;">La</a>
                    <a (click)="Sonido(7)" class="list-group-item list-group-item-action" style="text-align: center; background-color: purple;">Si</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>